ROOT_MYSQL_PASS=

TRACKER_DB_NAME=
TRACKER_DB_USER=
TRACKER_DB_PASS=

STORAGE_DB_NAME=
STORAGE_DB_USER=
STORAGE_DB_PASS=

AUTH_DB_NAME=
AUTH_DB_USER=
AUTH_DB_PASS=

ZOOKEPEER_PORT=2181
KAFKA_PORT=9092
KAFKA_HOST_PORT=29092

JWT_SIGNING_KEY=
REFRESH_SIGNING_KEY=
